.navbar {
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    text-align: center;
    position: fixed;
    margin-top: -100px;
    backdrop-filter: blur(15px);
    z-index: 1;
  }
  
  .navbarMain {
    flex: 1;
  }
  
  .link {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    margin-top: -40px;
    padding: var(--mantine-spacing-md);
    width: 150px;
    height: 30px;
    border-radius: var(--mantine-radius-md);
    text-align: center;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: x-large;
    &:hover {
        color: var(--mantine-color-violet-4);
    }
  
    &[data-active] {
      &,
      &:hover {
        color: var(--mantine-color-violet-7);
      }
    }
  }