.container {
    padding: var(--mantine-spacing-xl);
    margin-top: 100px;
    margin-left: 150px;
}

.p1 {
    margin-top: -35px;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.p2 {
    display: block;
    margin-left: auto;
    /* float: right; */
}

.intro {
    margin-left: 20px;
    text-indent: 20px;
}

.map_img {
    width: 1024px;
    height: 550px;
    position: absolute;
    z-index: -2;
}

.map_container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1024px;
    height: 550px;
}

.carousel {
    width: 100%;

}

.slider {
    background-color: goldenrod;
}

.card {
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    background-color: var(--mantine-color-dark-6);
}

.title {
    font-weight: 900;
    color: var(--mantine-color-white);
    line-height: 1.2;
    font-size: 32px;
    margin-top: var(--mantine-spacing-xs);
    cursor: default;
}
  
.category {
    color: var(--mantine-color-white);
    opacity: 0.7;
    font-weight: 700;
    text-transform: uppercase;
    cursor: default;
}

.skill_icon {
    margin: auto;
    margin-top: 20px;
    padding: 10%;
    border-radius: 30%;
    width: 6vw;
    height: 6vw;

    background: rgb(66,18,77);
    background: linear-gradient(0deg, rgba(66,18,77,1) 0%, rgba(48,3,38,0.9248949579831933) 100%);
}
.skill_icon:hover {
    transform: scale(1.1);
}

.project_card {
    border-radius: 15px;
    width: 100%;
    background-color: var(--mantine-color-gray-9);
    padding: 20px;
}